.header {
    display: flex;
    justify-content: flex-start;
    top: 50px;
    font-size: x-large;
    position: absolute;
    text-shadow: 1px 1px #96d0a1;
    font-style: italic;
    left: 580px;
    padding-bottom: 50px;
}